<style>
  /* Move inline repeated styles to this style sheet (or link another one) for actionselection.ejs */
  .figmabluebox:hover
  {
    padding-top: 0.5vw; padding-bottom: 0.5vw; margin-right: 1vw;  line-height: 1.5;
    display: inline-block;
    vertical-align: middle; float: left;
    background-color: grey;
  }
</style>

<section class="figmabluebox">
  <article>
    <h2>Register an Action</h2>
    <p>Tecla Voice Assistant allows multiple types of actions to be registered. At this time, we are only
    testing "phone call" related actions.</p>
    <p>Please choose an action type below. </p>
    <p> You will have the oppurtunity to "rename" the phrase on the next page.</p>
  </article>
</section>

  <section class="figmabluebox">
    <form class="" action="/welcome" method="get">
      <button type="submit" class="landingbutton"> <!--  name="initialsetup Removed name because need GET request for /actionselection -->
        <article class="landingarticle">
          <!-- Google Material Design Code icon -->
          <h4 style=" padding-top: 0.5vw; padding-bottom: 0.5vw; margin-right: 1vw;  line-height: 1.5;
          display: inline-block;
          vertical-align: middle; float: left;">End Call Options</h4>
        </article>
      </button>
    </form>
  </section>
  <!-- NOTE: Due to the delays caused by Covid-19, below options were not fully configured (they all map to end call options). Its a small addition,
  but was deemed unnecessary for further testing  -->
  <section class="figmabluebox">
    <form class="" action="/welcome" method="get">
      <button type="submit" class="landingbutton"> <!--  name="initialsetup Removed name because need GET request for /actionselection -->
        <article class="landingarticle">
          <!-- Google Material Design Code icon -->
          <h4 style=" padding-top: 0.5vw; padding-bottom: 0.5vw; margin-right: 1vw;  line-height: 1.5;
          display: inline-block;
          vertical-align: middle; float: left;">Answer Call Options</h4>
        </article>
      </button>
    </form>
  </section>
  <section class="figmabluebox">
    <form class="" action="/welcome" method="get">
      <button type="submit" class="landingbutton"> <!--  name="initialsetup Removed name because need GET request for /actionselection -->
        <article class="landingarticle">
          <!-- Google Material Design Code icon -->
          <h4 style=" padding-top: 0.5vw; padding-bottom: 0.5vw; margin-right: 1vw;  line-height: 1.5;
          display: inline-block;
          vertical-align: middle; float: left;">Mute Call Options</h4>
        </article>
      </button>
    </form>
  </section>
  <section class="figmabluebox">
    <form class="" action="/welcome" method="get">
      <button type="submit" class="landingbutton"> <!--  name="initialsetup Removed name because need GET request for /actionselection -->
        <article class="landingarticle">
          <!-- Google Material Design Code icon -->
          <h4 style=" padding-top: 0.5vw; padding-bottom: 0.5vw; margin-right: 1vw;  line-height: 1.5;
          display: inline-block;
          vertical-align: middle; float: left;">Speakerphone Options</h4>
        </article>
      </button>
    </form>
  </section>
