<!-- Gain should be a radio button -->
<section class="figmabluebox">
  <article>
    <h3>Microphone Volume</h3>
    <p>For Tecla Voice Assistant to function correctly, it needs to know how far away your microphone is so it can adjust itself accordingly</p>
    <p>Please answer the following questions:</p>
    <!-- Google Material Design Icon for microphone -->
<!--      <i class="material-icons">mic</i> -->
    How far away is the microphone from you?
  </article>
  <article>

  <br>
  <input type="radio" id="gain" name="gain" value="0">
  <label for="gain">The microphone is close to my mouth</label><br>
  <input type="radio" id="gain" name="gain" value="1">
  <label for="gain">The microphone is away from my mouth but less than an arm's length away</label><br>
  <input type="radio" id="gain" name="gain" value="2">
  <label for="gain">The microphone is an arm's length away from my mouth</label><br>
  </article><br>

  <article>
  What type of microphone are you using?
  </article>
  <article>
  <br>
  <input type="radio" id="gain" name="gain" value="0">
  <label for="gain">I haven't connected any microphone. Use the microphone within Tecla</label><br>
  <input type="radio" id="gain" name="gain" value="1">
  <label for="gain">I'm using a USB microphone</label><br>
  <input type="radio" id="gain" name="gain" value="2">
  <label for="gain">I'm using a wireless microphone</label><br> <!-- Alert user to connect a wired headset -->
  </article>

</section>
